//colors
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #c1401e;

//resolutions
$desktop: 1200px;
$laptop: 992px;
$tablets: 768px;
$phones: 480px;

//config
@import "config/mixins.scss";

//media
@import "config/media.scss";

// base
@import "layout/normalize.scss";
@import "layout/fonts.scss";
@import "layout/base.scss";

//command
@import "command/btn.scss";
@import "command/section-title.scss";
@import "command/nav-bar.scss";
@import "command/arrow-down.scss";

//blocks
@import "section/hero.scss";
@import "section/best.scss";
@import "section/burgers.scss";
@import "section/team.scss";
@import "section/menu.scss";
@import "section/reviews.scss";
@import "section/order.scss";
@import "section/maps.scss";