.best {
    background-image: url('../../img/bg/best.png'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.best__list {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 18px;
}

.best__item {
    width: 30%;
}

.best__icon {
    display: flex;
    justify-content: center;
}

.best__icon_pic {
    width: 100px;
    height: 90px;
}

.best__icon_meat {
    fill: rgb(226,80,40);
}

.best__icon_hand {
    fill: rgb(248,180,58);
}

.best__icon_natural {
    fill: rgb(138,192,62);
}

.best__desc {
    text-align: center;
}

.best__title {
    color: #2f3234;
    font-family: 'lifehackmedium';
    font-size: 24px;
    font-weight: 500;
    line-height: 28.14px;
    margin-top: 27px;
}

.best__info {
    opacity: 0.8;
    color: #2f3234;
    font-family: 'ubuntulight';
    font-size: 14px;
    font-weight: normal;
    line-height: 24.02px;
    margin-top: 17px;
}