.best {
    background-image: url('../../img/bg/best.png'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.best__list {
    display: flex;
    justify-content: space-between;
    margin-top: rem(40px);
    margin-left: rem(18px);
    
    @include phones {
        flex-direction: column;
    }
}

.best__item {
    width: 30%;

    @include phones {
        display: flex;
        width: 100%;
    }
}

.best__icon {
    display: flex;
    justify-content: center;
}

.best__icon_pic {
    width: rem(100px);
    height: rem(90px);
}

.best__icon_meat {
    fill: rgb(226,80,40);
}

.best__icon_hand {
    fill: rgb(248,180,58);
}

.best__icon_natural {
    fill: rgb(138,192,62);
}

.best__desc {
    text-align: center;

    @include phones {
        text-align: left;
    }
}

.best__title {
    color: #2f3234;
    font-family: 'lifehackmedium';
    font-size: rem(24px);
    font-weight: 500;
    line-height: rem(28.14px);
    margin-top: rem(27px);
}

.best__info {
    opacity: 0.8;
    color: #2f3234;
    font-family: 'ubuntulight';
    font-size: rem(14px);
    font-weight: normal;
    line-height: rem(24.02px);
    margin-top: rem(17px);
}