.burgers {
    background-image: url('../../img/bg/burgers.png'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.burgers__container {
    position: relative;
    display: flex;
}

.burgers__arrow-left {
    position: absolute;
    left: rem(-40px);
    top: 50%;
    transform: rotate(90deg);

    @include tablets {
        left: rem(-15px);
        top: 50%;    
    }
}

.burgers__arrow-right {
    position: absolute;
    right: rem(-40px);
    top: 50%;
    transform: rotate(-90deg);

    @include tablets {
        right: rem(-15px);
        top: 50%;    
    }
}

.burgers__arrow-icon {
    width: rem(25px);
    height: rem(25px);
    fill: #fff;

    &:hover {
        fill: red;
    }
}

.burgers__slider {
    display: flex;
    overflow: hidden;
}

.burgers__list {    
    display: flex;
    flex-wrap: nowrap;
}

.burgers__item {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: rem(940px);
    height: 100%;
    position: relative;
    top: 0;
    left: 0;

    @include tablets {
        flex-direction: column;
    } 
}

.burgers__img {
    display: flex;
    align-items: center;

    @include phones {
        max-width: 85%;
    }
}

.burgers__photo {
    width: rem(420px);

    @include phones {
        width: rem(350px);
        padding-top: rem(70px);
    }
}

.burgers__content {
    @include tablets {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    @include phones {
        text-align: center;
    }
}

.burgers__consist {
    position: absolute;
    top: 0;
    left: 0;
    width: rem(90px);
    height: rem(90px);
    border-radius: rem(10px);
    background-color: #e35028;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
    &:hover {
        background-color: $red;
    }

    &:hover .burgers__consist-wrap {
        display: flex;
        left: rem(90px);
    }
}

.burgers__consist-wrap {
    display: none;
    position: absolute;
    border-radius: rem(10px);
    background-color: #fff;
    top: 0;
    min-width: rem(265px);
}

.burgers__consist-img {
    padding-left: rem(10px);
    padding-top: rem(10px);
}

.burgers__consist-icon {
    width: rem(50px);
    height: rem(50px);
}

.burgers__consist-beef {
    fill: $red;
}

.burgers__consist-buns {
    fill: $yellow;
}

.burgers__consist-salad {
    fill: $green;
}

.burgers__consist-sauce {
    fill: $red;
}

.burgers__consist-cucumber {
    fill: $green;
}

.burgers__consist-cheese {
    fill: $yellow;
}

.burgers__consist-title {
    padding-left: rem(20px);
    font-family: 'ubuntumedium';
    font-weight: normal;
    font-size: rem(14px);
}

.burgers__consist-text {
    padding-left: rem(50px);
    font-family: 'ubuntulight';
    font-weight: normal;
    font-size: rem(14px);
}

.burgers__calories {
    position: absolute;
    bottom: 0;
    left: 0;

    @include tablets {
        top: 0;
        left: 80%; 
    }
}

.burgers__item {
    display: flex;
}

.burgers__text {
    max-width: rem(441px);
    color: #ffffff;
    font-family: 'ubuntulight';
    font-size: rem(14px);
    font-weight: normal;
    line-height: rem(23.97px);
    margin-top: rem(56px);
    
    @include phones {
        margin-top: rem(10px);
        font-size: rem(12px);
    }
}

.burgers__price {
    color: #e35028;
    font-family: 'gagalinregular';
    font-size: rem(30px);
    font-weight: normal;
    line-height: rem(28.08px);
    margin-top: rem(36px);
}

.burgers__price-number {
    font-size: rem(72px);
    letter-spacing: rem(-1.79px);
}

.burgers__price-rub {
    letter-spacing: rem(-0.75px);
    margin-right: rem(29px);
}