.hero {
    background-image: url('../../img/bg/hero.png'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
    padding-top: rem(12px);
}

.hero__container {
    justify-content: flex-start;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__btns {
    display: flex;
    align-items: center;
}

.nav__list  {
    display: flex;
    align-items: center;
}

.nav {
    color: #ffffff;
    font-family: 'ubuntumedium';
    font-size: rem(13px);
    font-weight: normal;
    line-height: rem(30px);
    text-transform: uppercase;
    margin-right: rem(15px);
    
    @include tablets {
        display: none;
    }
}

.nav__item {
    display: flex;
    align-items: center;

    &:after {
        content: "";
        @include circle(rem(5px), #fff);
        margin: 0 rem(12px);
    }

    &:last-child:after {
        display: none;
    }
}

.nav__link {
    transition: .5s;

    &:hover {
        text-decoration: underline;
    }
}

.hamburger-menu__link {
    display: none;

    @include tablets {
        display: flex;
    }
}

.hero__content {
    display: flex;
    flex: .8;
    align-items: center;
    justify-content: center;

    @include tablets {
        flex-direction: column;
        align-items: center;
    }    
}

.hero__pic {
    // flex-basis: 50%;
    width: 50%;
    margin-top: rem(0px);
    margin-left: rem(0px);

    @include tablets {
        margin-top: rem(0px);
        margin-left: rem(0px);
    }

    @include phones {
        width: 90%;
    }
}

.hero__desc {
    width: 50%;
    // flex-basis: 50%;
    margin-top: rem(107px);
    margin-left: rem(9px);

    @include tablets {
        margin-top: rem(0px);
        margin-left: rem(0px);
        text-align: center;
    }

    @include phones {
        width: 90%;
    }
}

.hero__desc-text {
    color: #ffffff;
    font-family: 'lifehackmedium';
    font-size: rem(65px);
    font-weight: 500;
    letter-spacing: rem(-1.63px);
    line-height: rem(60px);

    @include phones {
        font-size: rem(54px);
    }
}