.hero {
    background-image: url('../../img/bg/hero.png'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
    padding-top: 12px;
}

.hero__container {
    justify-content: flex-start;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__btns {
    display: flex;
    align-items: center;
}

.nav__list  {
    display: flex;
    align-items: center;
}

.nav {
    color: #ffffff;
    font-family: 'ubuntumedium';
    font-size: 13px;
    font-weight: normal;
    line-height: 30px;
    text-transform: uppercase;
    margin-right: 15px;       
}

.nav__item {
    display: flex;
    align-items: center;

    &:after {
        content: "";
        @include circle(5px, #fff);
        margin: 0 12px;
    }

    &:last-child:after {
        display: none;
    }
}

.nav__link {
    transition: .5s;

    &:hover {
        text-decoration: underline;
    }
}

.hero__content {
    display: flex;
    flex: .8;
    align-items: center;
    justify-content: center;
    
}

.hero__pic {
    // flex-basis: 50%;
    width: 50%;
    margin-top: -10px;
    margin-left: 24px;
}

.hero__desc {
    width: 50%;
    // flex-basis: 50%;
    margin-top: 107px;
    margin-left: 9px;
}

.hero__desc-text {
    color: #ffffff;
    font-family: 'lifehackmedium';
    font-size: 65px;
    font-weight: 500;
    letter-spacing: -1.63px;
}