.maps {
    background-image: url('../../img/bg/maps.png'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $black;
    display: flex;
    padding-top: rem(10px);
    padding-bottom: rem(10px);
    padding-left: rem(80px);

    @include phones {
        flex-direction: column;
        text-align: center;
    }
}

.footer__left {
    width: 50%;

    @include phones {
        width: 100%;
    }
}

.footer__right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include phones {
        width: 100%;
    }
}

.contacts {
    color: #ffffff;
    font-family: 'ubuntulight';
    font-size: rem(14px);
    font-weight: normal;
    line-height: rem(24px);
}

.contacts__phone {
    color: #e45028;
    font-family: 'ubuntubold';
    font-weight: normal;
}

.contacts__phone_icon {
    width: rem(12px);
    height: rem(11px);
    fill: #e45028;
}

.contacts__number {
    display: inline-block;
}

.social__list {
    display: flex;
    flex-direction: row;
}

.social__item {
    margin-right: rem(20px);
}

.social__icon {
    width: rem(23px);
    height: rem(20px);
    opacity: 0.3;
    fill: #ffffff;

    &:hover {
        opacity: 1;
    }
    
    &_active {
        opacity: 1;
    }
}