.menu {
    background-image: url('../../img/bg/menu.png'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.menu-accordeon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    display: flex;
}

.menu-accordeon_item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
    width: 80px;
    cursor: pointer;

    &:hover .menu-accordeon_trigger {
        color: $yellow;
    }

    .menu-accordeon__info {
        display: flex;
        width: auto;
    }
}

.menu-accordeon_item-meat {
    background-image: url('../../img/bg/menu_meat.png'); 
}

.menu-accordeon_item-vegan {
    background-image: url('../../img/bg/menu_vegan.png'); 
}

.menu-accordeon_item-dieta {
    background-image: url('../../img/bg/menu_dieta.png'); 
}

.menu-accordeon_trigger {
    color: #ffffff;
    font-family: 'gagalinregular';
    font-size: 40px;
    font-weight: normal;
    line-height: 63.75px;
}