.order {
    background-image: url('../../img/bg/order.png'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form {
    color: #ffffff;
    font-family: 'ubuntulight';
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;

    display: flex;
    margin-top: 32px;
}

.form__left {
    width: 50%;
    margin-right: 20px;

}

.form__right {
    width: 50%;
}

.form__row  {
    display: flex;
    margin-bottom: 15px;
}

.form__block {
    display: block;
    flex: 1;
    margin-right: 20px;

    &:last-child {
        margin-right: 0;
    }
}

.form__input {
    padding: 10px;
    width: 100%;
    border: none;
    background-color: #ffffff;
    border-radius: 5px;
}

.form__textarea {
    width: 100%;
    border-radius: 5px;
}

.form__block_row {
    display: flex;
    align-items: center;
}

.form__radio {
    margin-right: 10px;
}

.form__checkbox {
    margin-right: 10px;
}