.team {
    background-image: url('../../img/bg/team.png'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;    
}

.team__container {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    background-color: #2f3234;
    opacity: 0.93;
    display: flex;
    // align-items: center;
    justify-content: center;

    @include tablets {
        width: 100%;
        flex-direction: column;
        align-items: center;        
    }
}

.team__content {
    width: 65%;
}

.team-accordeon {
    margin-top: rem(46px);    
}

.team-accordeon__item {
    margin-bottom: rem(35px);    

    @include tablets {
        text-align: center;
    }
}

.team-accordeon__item {
    .team-accordeon__trigger {
        // color: $yellow;

        // &:before {
        //     transform: rotate(180deg);
        // }
    }
    .team-accordeon__content {
        display: flex;
        height: auto;
    }
}

.team-accordeon__trigger {
    color: #ffffff;
    font-family: 'gagalinregular';
    font-size: rem(14px);
    font-weight: normal;
    line-height: rem(28.13px);
    display: block;
    opacity: .93;

    &:hover {
        color: $yellow;
    }

    &:before {
        content: "";
        display: inline-block;
        height: 0;
        width: 0;
        border: rem(9px) solid transparent;
        border-top-color: $yellow;
        border-bottom-width: rem(0px);
        margin-right: rem(10px);
    }
    
    @include tablets {
        display: inline-block;
        font-size: rem(25px);
    }
}

.team-accordeon__content {
    // display: none;
    height: 0;
    overflow: hidden;
    margin-top: rem(17px);

    @include tablets {
        flex-direction: column;
        align-items: center;
    }
}

.team-accordeon__img {
    margin-right: rem(21px);
}

.team-accordeon__text {
    color: #ffffff;
    font-family: 'ubuntulight';
    font-size: rem(14px);
    font-weight: normal;
    line-height: rem(24.01px);
    width: rem(208px);
}

.team-accordeon__article-title {
    font-family: 'ubuntubold';
    font-weight: normal;
    margin-bottom: rem(15px);
}