.arrow-down {
    display: flex;
    justify-content: center;
    padding-top: rem(134px);
    padding-left: rem(13px);

    @include tablets {
        padding-top: rem(70px);
    }

    @include phones {
        padding-top: rem(110px);
    }
}

.arrow-down__icon {
    transform: translate(0, rem(-45px));
    width: rem(29px);
    height: rem(14px);
    fill: #fff;   

    &:hover {
        transform: translate(0, rem(-40px));
    }
}