.arrow-down {
    display: flex;
    justify-content: center;    
}

.arrow-down__icon {
    transform: translate(0, rem(90px));
    width: rem(29px);
    height: rem(14px);
    fill: #fff;   

    &:hover {
        transform: translate(0, rem(95px));
    }
}