.arrow-down {
    display: flex;
    justify-content: center;
    padding-top: 134px;
    padding-left: 13px;
}

.arrow-down__icon {
    transform: translate(0, -45px);
    width: 29px;
    height: 14px;
    fill: #fff;

    &:hover {
        transform: translate(0, -40px);
    }
}