.btn {
    padding: rem(6px) rem(14px);
    background-color: $orange;
    color: #fff;
    text-decoration: none;
    border-radius: rem(5px);
    display: inline-block;
    text-transform: uppercase;
    font-family: 'ubuntumedium';
    font-size: rem(13px);
    font-weight: normal;
    margin-right: rem(20px);

    &:hover {
        background-color: $red;
    }
  }

.btn__reset {
  color: #ffffff;
  font-family: 'ubuntulight';
  font-size: rem(14px);
  font-weight: normal;
  line-height: rem(24px);
  margin-left: rem(10px);
  padding: rem(6px) rem(14px);
  border-radius: rem(5px);  
  border: 0;
  cursor: pointer;
  background: transparent;

  &:hover {
    background-color: $orange;
  }
}