.nav-bar__list {
    position: fixed;
    top: rem(95px);
    right: rem(50px);
}

.nav-bar__item {
    margin-bottom: rem(5px);
}

.nav-bar__link {
    width: rem(16px);
    height: rem(16px);
    border: rem(1px) solid transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &_active {
        border-color: #ffffff;
    }

    &:hover {
        border-color: #ffffff;
    }

    &:before {
        content: "";
        display: block;
        width: rem(5px);
        height: rem(5px);
        border-radius: 50%;
        background-color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}