.section__title {
    color: $yellow;
    font-family: 'gagalinregular';
    font-size: 72px;
    font-weight: normal;
    // line-height: 85px;
}

.section__title_color_black {
    color: $black;
    // padding-top: 133px;
    // display: flex;
    // justify-content: center;
}

.section__title_align_center {
    text-align: center;
}