.section__title {
    color: $yellow;
    font-family: 'gagalinregular';
    font-size: 72px;
    font-weight: normal;
    line-height: 85px;
}

.section__title_color_black {
    color: $black;
}

.section__title_color_white {
    color: #ffffff;
    padding-left: 90px;
    padding-top: 90px;
}

.section__title_align_center {
    text-align: center;
    margin-top: 124px;
}