.section__title {
    color: $yellow;
    font-family: 'gagalinregular';
    font-size: rem(62px);
    font-weight: normal;
    line-height: rem(85px);

    @include phones {
        line-height: rem(50px);
    }
}

.section__title_color_black {
    color: $black;
}

.section__title_color_white {
    color: #ffffff;
    padding-left: rem(50px);
    padding-top: rem(40px);

    @include phones {
        padding-top: rem(5px);
        font-size: rem(40px);
    }
}

.section__title_align_center {
    text-align: center;
    padding-top: rem(40px);

    @include phones {
        line-height: rem(80px);
    }
}